.restaurant-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 50px;
}

.restaurant-card {
  margin-bottom: 10px;
  height: 300px;
  width: 250px;
}

.food-image {
  height: 180px;
  width: 100%;
  border-radius: 6px;
}

.details {
  padding: 5px 10px;
}

.restaurant-name {
  color: brown;
}

.ratings {
  color: green;
}

.cuisines {
  color: chocolate;
  font-style: italic;
}
