body {
  margin: 0;
}

.header {
  padding: 4px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #ecd;
}

.menu {
  list-style: none;
  display: flex;
  gap: 30px;
}

.logo {
  height: 50px;
  width: 50px;
}

.body {
  height: calc(100vh - 118px);
  overflow: auto;
}

.main-container {
  margin: 20px;
}

.footer {
  display: flex;
  align-items: center;
  padding: 4px 0;
  background-color: #000;
  color: #fff;
  bottom: 0;
  position: sticky;
  width: 100%;
}

.menu-list {
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

.veg-icon {
  height: 0.1px;
  width: 0.1px;
  border: 10px solid green;
  border-radius: 50%;
}

.non-veg-icon {
  height: 0.1px;
  width: 0.1px;
  border: 10px solid red;
  border-radius: 50%;
}

.menupage-card {
  > div {
    margin: 10px auto;
  }
}

.food-desc {
  font-size: 12px;
  width: 200px;
  overflow-wrap: break-word;
}

.item-name {
  width: 200px;
  overflow-wrap: break-word;
}
