body {
  margin: 0;
}

.header {
  padding: 4px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #ecd;
}

.menu {
  list-style: none;
  display: flex;
  gap: 30px;
}

.logo {
  height: 50px;
  width: 50px;
}

.main-container {
  margin: 20px;
}

.footer {
  display: flex;
  align-items: center;
  padding: 4px 0;
  background-color: #000;
  color: #fff;
  bottom: 0;
  position: sticky;
  width: 100%;
}
